<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened" mode="side" (opened)="log('Opened')" (closed)="log('Closed')">Sidenav</mat-sidenav>
    <mat-sidenav-content>
      Main -
      <button (click)="opened=!opened">ToggleOpened</button>
      <button (click)="sidenav.open()">Open</button>
      <button (click)="sidenav.close()">Close</button>
      <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
  </mat-sidenav-container>