<mat-toolbar>
    <span>Abhishek</span>n
</mat-toolbar>

<mat-toolbar class='navbar' color='primary'>
    <div>Abhishek</div>
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Services</span>
    </div>
  </mat-toolbar>