<p>menu works!</p>
<mat-menu #appMenu='matMenu'>
    <button mat-menu-item [matMenuTriggerFor]="subMenu"
    >FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
  </mat-menu>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>
  
  <button class='center' mat-flat-button [matMenuTriggerFor]='appMenu'>
    Menu
  </button>