<mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
    <mat-tab label="Angular"> Angular Content </mat-tab>
    <mat-tab label="React"> React Content </mat-tab>
    <mat-tab label="Vue"> Vue Content </mat-tab>
  </mat-tab-group>