<!-- <button mat-raised-button>Hello World</button>
<div class="mat-display-4">This is Display 4</div>
<div class="mat-display-3">This is Display 3</div>
<div class="mat-display-2">This is Display 2</div>
<div class="mat-display-1">This is Display 1</div>

<div class="mat-headline">This is h1</div>
<div class="mat-title">This is h2</div>
<div class="mat-subheading-2">This is h3</div>
<div class="mat-subheading-1">This is h4</div>

<div class="mat-typography">
<div class="mat-body-1">This is body</div>
<div class="mat-body-2">This is body bold</div>
<div class="mat-caption">This is h3</div>
</div> -->

<!-- <button mat-button>Button</button>
<button mat-raised-button>Button</button>
<button mat-flat-button>Button</button>
<button mat-stroked-button>Button</button>

<div>
  <button mat-icon-button>Button</button>
  <button mat-fab-button>Button</button>
  <button mat-mini-fab-button>Button</button>
</div>

<div>
  <button color="primary" mat-button>Button</button>
  <button color="accent" mat-button>Button</button>
  <button color="warn" disableRipple mat-button>Button</button>
</div> -->

<!-- <div>
  <mat-icon>grade</mat-icon>
</div> -->
<!-- 
<div>
  <span matBadge='4' matBadgePosition='below before'>Notifications</span>
</div>

<div>
  <span matBadge='4' matBadgePosition='below after'>Notifications</span>
</div>

<div>
  <span matBadge='4' matBadgeSize='small'>Notifications</span>
</div>

<div>
  <span matBadge='4' matBadgeSize='medium'>Notifications</span>
</div>

<div>
  <span matBadge='4' matBadgeSize='large'>Notifications</span>
</div>

<div>
  <span matBadge='4' matBadgeColor='primary'>Notifications</span>
</div>

<div>
  <span matBadge='4' matBadgeColor='accent'>Notifications</span>
</div>


<mat-progress-spinner color='accent' value='100'></mat-progress-spinner>

<mat-spinner *ngIf='showSpinner'></mat-spinner>

<button (click)='loadData()'>Load Data</button> -->

<!-- <app-tool-bar></app-tool-bar> -->
<!-- <app-side-nav></app-side-nav> -->
<!-- <app-menu></app-menu> -->
<!-- <app-list></app-list> -->
<!-- <app-grid-list></app-grid-list> -->
<!-- <app-card></app-card> -->
<!-- <app-tabs></app-tabs> -->
