<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>


<mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
  <a mat-list-item href="#"> Home </a>
  <a mat-list-item href="#"> About </a>
  <a mat-list-item href="#"> Services </a>
</mat-nav-list>

<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine> Heading 1 </h3>
    <p matLine>
      Line 1
    </p>
  </mat-list-item>


  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine> Heading 2 </h3>
    <p matLine>
      <span> Line 1 </span>
      <span> Line 2 </span>
    </p>
  </mat-list-item>
</mat-list>